.imgClass {
    width: auto;
    min-width: 45px;
    max-width: 5vw;
    margin-right: 10px;
}

.mainTopicsCardDiv {
    background-color: #2f2f2f;
    width: auto;
    margin: 9px 9px 0px 9px;
    padding: 6px;
}

.heartIconDiv {
    margin-right: 4px;
}

.topicTextDiv {
    width: 59vw;
}

.fontSize {
    font-size: 12px;
}