.mainTopicsDiv {
    width:80%;
    padding-top:2%;
    padding-bottom: 2%;
}
.singleTopicDiv {
    padding-bottom: 3%;
    padding-top: 3%;
    background-color: palegoldenrod;
}
.imgClass {
    max-width:40%;
    max-height:40%;

}