.mainHeaderDiv {
    height: 7vh;
    width: auto;
    margin: auto;
    background-color: black;
    color: darkgrey;
    border-bottom: 1px solid #3d3d3d;
}

a:link, a:visited {
    color: darkgrey;
    text-decoration: none;
    margin: 5px;
}

.mainHeaderDiv a:hover {
    color: #dadada;
}

.registerLink {
    border: 1px solid red;
    color: red !important;
    padding: 2px 4px 2px 4px;
}

.headerLogo {
    width: auto;
    min-width: 35px;
    max-width: 3vw;

    /*height:10%;*/
}



